* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
#mainheading{
  display: flex;
  background-color: blue;
  color: white;
  z-index: 0;
  height: 60px;
    
}


.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-top: -40px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;


}
.navbar ul li a {
  text-decoration: none; 
  color: white;
  padding: 8px 25px;
}
.navbar ul li a:hover{
  background-color: white;  
  color: black;
  box-shadow: 0 0 10px white;
}



#home {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: -50px;
  

}
#home::before{
  content: "";
  /* position: absolute; */
  top: 0;
  right: 0;
  background: url('../images/portfoliobackgroundimg.png') no-repeat center center/cover;
  height: 900px;
  width: 100%;
  z-index: -1;

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 10%;
}

.intro-heading{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
  justify-content: flex-start;
  align-items:flex-start; 
  display: flex;
  width: 200px;
  color: white;
  }

.headings{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
  justify-content: flex-start;
  align-items:flex-start; 
  display: flex;
  width: 200px;
  } 

#pic{
  display: inline-flex;
  border-left: 2px solid white;
  padding-left: 50px;
  align-items: flex-start;
  flex:content;
  
}
#pic img {
  max-width: 300px;
  max-height: 450px;

  
}

#intro{
  display:inline-flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  width: fit-content ;
  align-items:center;
  margin-left: 10%;
  flex: 60%;
  font-size: 18px;

}
#intro h2{
  font-size: 4rem;
  margin-bottom: 20px;
}
.style-content{
display: inline-flex;
flex-direction: row;
background-color: rgba(0, 0, 0, 0.9);
padding: 20px;
color: white;
width: 100%;

}


#gallery{
  display: inline-flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-left: 2px solid white;
  flex: content;
  flex-direction: column;
  align-items: center;
}

.style-mainimage {
 max-width:800px;
}
.style-mainimage img {
  width: 100%;
}

.style-secondaryimages{
  
  max-width: 800px;
  ;
}
.style-secondaryimages img {
  width:49%;
  height: 150px;
  
}


 #gallery img:hover{
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  cursor: pointer;
  transition: 0.5s ease;
  transform: translate(0, -20px);
}

.style-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;

}

#style-footer {
  background-color:rgba(0, 0, 0, 0.9);
  color: white;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content:space-between;

  
}

footer li {
  display: inline-flex;
  text-decoration: underline 5px;
  
}
footer li:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  font-weight: bold;

}
a {
  color: white;
}
 
a:link {
  text-decoration: none;
}
a:visited {
  color: purple;
}



@media only screen and (max-width: 992px) {
  .style-content{
    display: flex;
    flex-direction: row;
    align-items: row;
  }
  .headings{
    font-size: 30px;
  }
  .style-content #intro h2{
    font-size: 30px;
  }
  .navbar{
    justify-content:flex-start;
  }
  #intro {
    font-size: 17px;
  } 
  #home{
    margin-top: -70px;
  }
  
}
  


@media only screen and (max-width: 768px) {
  .style-content{
    display: flex;
    flex-direction: row;
    align-items: row;
  }
  .headings{
    font-size: 25px;
  }
  .style-content #intro h2{
    font-size: 25px;
  }
  .navbar{
    justify-content:flex-start;
  }
  #intro {
    font-size: 16px;
  } 
  #home{
    margin-top: -70px;
  }
  
}
  

@media only screen and (max-width: 576px) {
  .style-content{
    display: flex;
    flex-direction: row;
    align-items: row;
  }
  .headings{
    font-size: 22px;
  }
  .style-content #intro h2{
    font-size: 22px;
  }
  .navbar{
    justify-content:flex-start;
  }
  #intro {
    font-size: 14px;
  } 
  #home{
    margin-top: -70px;
  }
}

  

